.mada-map path[id] {
    cursor: pointer;

    transition:
        filter 350ms cubic-bezier(0.22, 1, 0.36, 1),
        fill-opacity 350ms ease,
        stroke-width 350ms ease;
}

.mada-map path[id]:hover {
    filter: brightness(0.65);
}


/* =========================
   CONTENEUR DES OL
   ========================= */

.ol-label-container {
    pointer-events: all;

    opacity: 1;
    transform: translateY(0) scale(1);
    filter: blur(0);

    transform-origin: center;
    transition:
        opacity 1.4s cubic-bezier(0.22, 1, 0.36, 1),
        transform 1.4s cubic-bezier(0.22, 1, 0.36, 1),
        filter 1.4s cubic-bezier(0.22, 1, 0.36, 1);
}


/* =========================
   APPARITION DES OL
   ========================= */

.ol-label-inner {
    transform-box: fill-box;

    animation:
        ol-unroll 450ms cubic-bezier(0.22, 1, 0.36, 1) both;
}

@keyframes ol-unroll {
    0% {
        clip-path: inset(0 100% 0 0);
        opacity: 0;
        transform: translateX(-8px) scale(0.96);
    }

    70% {
        opacity: 0.9;
    }

    100% {
        clip-path: inset(0 0 0 0);
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}


/* =========================
   DISPARITION APRÈS INTRO
   ========================= */

.ol-intro-fade-out {
    opacity: 0;

    transform:
        translateY(-18px)
        scale(0.86);

    filter: blur(5px);

    transition:
        opacity 1.4s cubic-bezier(0.4, 0, 0.2, 1),
        transform 1.4s cubic-bezier(0.22, 1, 0.36, 1),
        filter 1.4s cubic-bezier(0.4, 0, 0.2, 1);
}

/* .mada-region-hint {
    animation: regionPulse 2.2s ease-in-out infinite;
}

@keyframes regionPulse {
    0%, 100% {
        filter: brightness(1);
    }

    50% {
        filter: brightness(0.7);
    }
} */

.ol-logo-link {
    cursor: pointer;
}

.ol-logo-link:hover {
    filter: brightness(1.15);
}